/* custom additions to template */

:root {
    --transition-time: 400ms;
}

body {
    background-color: #ffffff;
}


/* handle mobile users */
.mobile-overlay {
    display: none;
}
@media (max-width: 768px) {
  
    .mobile-overlay {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 9999;
        font-size: 2em;
        font-family: 'Monospace', 'Courier New';
        background: rgba(0, 0, 0, 0.9);
        color: white;
    }
        

    .mobile-overlay button {
        margin-top: 20px; /* Add space above the button */
        padding: 10px 20px;
        font-size: 16px;
        background-color: #656565;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'Monospace', 'Courier New';
    }
    
    .mobile-overlay button:hover {
        color: black;
        background-color: #c9c9c9;
    }
}

.profile-image {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 30px;
    border: 10px solid #dddddd;
    transition: transform 0.2s;
}

.profile-image-container {
    position: relative;
}

:root {
    --notif-right: 155px;
    --notif-top: 10px;
}
.notification-bubble {
    position: absolute;
    top: var(--notif-top);
    right: var(--notif-right);
    z-index: 1002;
    width: 0px; 
    height: 0px;
    transition: transform 0.2s;
    transform-origin: center;
    transition: width height 1s ease-in;
}

@keyframes appear {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
.appear {
    animation: appear 1s ease-in;
    width: 100px; 
    height: auto;
}

@keyframes disappear {
    0% { transform: scale(1); }
    100% { transform: scale(0); }
}
.disappear {
    animation: disappear 1s ease-in;
}

@keyframes txtAppear {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
.txtAppear {
    animation: appear 1s ease-in;
    width: 130px; 
    height: auto;
}


/* @keyframes notif-bulge {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}
.notif-bulge {
    animation: notif-bulge 2s infinite;
} */


.profile-image:hover {
    transform: scale(1.2);
}

.title-wrap {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.title-wrap h2 {
    font-size: 3.8em;
    font-family: 'Monospace', 'Courier New';
}

.btn-group {
    margin-top: -60px;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.button {
    background-color: #dddddd; 
    border: none; 
    border-radius: 20px; 
    color: black;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s; 
    padding: 10px; 
    margin: 5px 5px; 
}

.button:hover {
    background-color: #b0b0b0; 
}

.button img {
    vertical-align: middle; 
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1000;
    opacity: 0;
    transition: opacity var(--transition-time);
    pointer-events: none; 
    padding-top: 0%;
    text-align: center;
}

.overlay-content {
    max-width: 800px; 
    max-height: 90%;
    z-index: 1000;
    transform-origin: center 0; /* Ensure scaling is from the center */
    transition: transform 0.2s ease;
}

.profile-image-container {
    position: relative;
    z-index: 1001; 
}

.profile-image-container .profile-image {
    position: relative;
    z-index: 1000;
}

.profile-image-container:hover + .overlay {
    opacity: 1; 
    pointer-events: auto;
}

.bigger-text {
    font-family: 'Monospace', 'Courier New';
    font-size: 1.9em;
}
.biggest-text {
    font-family: 'Monospace', 'Courier New';
    font-size: 2.3em;
}
.normal-text {
    font-family: 'Monospace', 'Courier New';
    font-size: 1.4em;
}

img.inline {
    width: 2.3em;
    height: 2.3em;
    vertical-align: middle;
    display: inline-block;
    border-radius: 8px;
    margin: 5px 0;
}

.inline {
    pointer-events: none;
}
